@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global look */
html, body {
  height: 100%;
  background-color: #f8fafc;
}

/* Android safe-area */
body {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Leaflet fixes */
.leaflet-container {
  font-family: inherit;
  border-radius: 1.5rem;
}
